$scrolling-padding: 20px;

.horizontal-scrolling {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 5px;
  display: grid;
  grid-auto-flow: column;
  border: 2px solid tomato;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-inline-start: $scrolling-padding;
  width: 50vw;
  margin: 0 auto;


  // Breathing in both edges
  &:before,
  &:after {
    content: '';
    width: $scrolling-padding;
  }

  > * {
    scroll-snap-align: start;
  }
}

.test {
  border: 2px solid green;
  padding: 2rem;
  width: 150px;
  text-align: center;
}