{
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/destructuring-assignment": 1,
    "arrow-parens": [1, "as-needed"],
    "object-curly-spacing": [2, "always"]
  }
}